<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div id="container">
        <div id="left">
            <a  href="/">
            <img id="logo" src="Logo.svg">
            </a>
            <div id="form">
                <div id="signin">
                    <!-- Sign in  -->
                    <form action="/signin" method="post">
                        <button id="Sin" type="submit">Sign in </button>
                    </form>
                </div>
                
                <div id="signup">
                    <!-- Sign up  -->
                    <form action="/signup" method="post">
                        <button id="Sup" type="submit">Sign up</button>
                    </form>
                </div>
                <!-- Student Link -->
                <div id="student">
                    <a id="ac" href="/student">
                        Are you a student?
                    </a>
                </div>
            </div>
            <div id="lastline">
                <p>AGNI MONITORING AND ANALYSIS SOFTWARE</p>
            </div>
        </div>


        <div id="right">
            <div id="text">
                <div id="text1">
                    <p id="text1-p1">Best In class Analysis of the system.</p>
                </div>
                <div id="svg">
                    <img id="img2" src="SVG1.svg">
                </div>
            </div>

            <div id="text2">
                <ul id="list">
                    <li>24 x 7 Servalance option</li>
                    <li>Graphical Representation</li>
                    <li>Tabular Representation</li>
                </ul>
            </div>
        </div>
    </div>


    </div>
</body>

</html>