<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Plz select app
    <a href="/Matlab"><button>Matlab</button></a>
    <a href="/idea"><button>IDEA</button></a>
    <a href="/ms"><button>MS office</button></a>
    <a href="/Pycharm"><button>Pycharm</button></a>
    <a href="/vs"><button>Visual Studio</button></a>
    <a href="/Figma"><button>Figma</button></a>

</body>
</html>