<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_home</title>
    <link rel="stylesheet" href="student_home.css">
</head>

<body>
    <div id="head">
        <div id="image">
            <a  href="/">
                <img id="logo" src="logo44.svg">
            </a>
        </div>
    </div>
    <div id="content1">
        <div id="LeftRight">
            <div id="left">Lab List
                <br>
                Select the lab you 
                are seated in.</div>
            <div id="right">
                <img id="logo2" src="computer1.svg">
            </div>
        </div>

    </div>
    <div id="content2">
        <div id="lab1">
            <a href="/student_Lab1">
                <button id="button1">
                    <div id="main">
                        <div id="color">
                            <div id="number">
                                1
                            </div>
                        </div>
                        <div id="lab">
                            <p id="p1">Select if you are in </p>
                            
                            <p id="p2">Lab No.-1 </p>
                        </div>
                    </div>
                </button>
            </a>
        </div>
        <div id="lab2">
            <a href="/student_Lab2">
                <button  id="button2">
                    <div id="main">
                        <div id="color">
                            <div id="number">
                                2
                            </div>
                        </div>
                        <div id="lab">
                            <p id="p1">Select if you are in </p>
                            <p id="p2">Lab No.-2 </p>
                        </div>
                    </div>
                </button>
            </a>
        </div>
        <div id="lab3">
            <a href="/student_Lab3">
                <button  id="button3">
                    <div id="main">
                        <div id="color">
                            <div id="number">
                                3
                            </div>
                        </div>
                        <div id="lab">
                            <p id="p1">Select if you are in </p>
                            <p id="p2">Lab No.-3 </p>
                        </div>
                    </div>
                </button>
            </a>
        </div>
    </div>

    <div id="options">
        <div id="back">

        </div>
        <div id="profile">
            
        </div>
        <div id="exit">
            
        </div>
    </div>
    
</body>

</html>